[submodule "tmux"]
	path = tmux
	url = git@github.com:gpakosz/.tmux.git
[submodule "gnome-terminal/gnome-terminal-colors-solarized"]
	path = gnome-terminal-colors-solarized
	url = https://github.com/Anthony25/gnome-terminal-colors-solarized.git
