!config/dconf/dconf.d/
!config/nvim/init.vim
*metadata
*~
GPATH
GRTAGS
GTAGS
config/DisplayCAL/
config/Keybase/
config/Kitware/
config/Trolltech.conf
config/VirtualBox/
config/autostart/
config/dconf/*
config/dleyna-*.conf
config/enchant/
config/evolution/
config/gedit/
config/git/
config/gnome-control-center/
config/gnome-session/
config/goa-1.0/
config/google-chrome/
config/gtk-2.0/
config/hexchat/
config/inkscape/
config/keepassx/
config/keybase/
config/libreoffice/
config/metacity/
config/monitors.xml
config/mutter/
config/nvim/*
config/pulse/
config/rygel.conf
config/spotify/
config/sqlitebrowser/
config/transmission/
config/vlc/
gnupg/pubring.gpg~
gnupg/random_seed
gnupg/secring.gpg
gradle/caches/
gradle/daemon/
gradle/native/
gradle/wrapper/
ssh/id_rsa
ssh/known_hosts
ssh/known_hosts.old
ssh/nas_rsa
weechat/logs/
weechat/weechat.log
