GPATH
GRTAGS
GTAGS
bin/alphabaseAnalyzer
bin/deploy
config/Trolltech.conf
config/dconf/*
!config/dconf/*.dump
config/dleyna-*.conf
config/gnome-control-center/
config/google-chrome/
config/keepassx/
config/pulse/
config/spotify/
gnupg/pubring.gpg~
gnupg/random_seed
gnupg/secring.gpg
gradle/caches/
gradle/daemon/
gradle/native/
gradle/wrapper/
ssh/id_rsa
ssh/known_hosts
ssh/known_hosts.old
ssh/nas_rsa
subversion/README.txt
subversion/auth/
subversion/servers
