[submodule "tmux"]
	path = contrib/tmux
	url = git@github.com:gpakosz/.tmux.git
[submodule "gnome-terminal-colors-solarized"]
	path = contrib/gnome-terminal-colors-solarized
	url = https://github.com/Anthony25/gnome-terminal-colors-solarized.git
[submodule "third-party/whiteinge-dotfiles"]
	path = third-party/whiteinge-dotfiles
	url = git@github.com:whiteinge/dotfiles.git
[submodule "contrib/whiteinge-dotfiles"]
	path = contrib/whiteinge-dotfiles
	url = git@github.com:whiteinge/dotfiles.git
