[user]
	name = Stefan Sonski
	email = s.sonski@gmail.com
	signingkey = 12A9A644
[credential]
	helper = cache
[push]
	default = simple
[svn]
	pushmergeinfo = true
[diff]
	tool = meld
	mnemonicprefix = true
[merge]
	tool = meld
	stat = true
[difftool]
	prompt = false
[color]
	ui = true
[advice]
	statusHints = false
[core]
	whitespace = trailing-space,space-before-tab
[branch]
	autosetupmerge = true
	pager = less -r
[diff "sqlite3"]
	textconv = sqlite3-dump
